<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>BookingBois</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/bookiBois.css" th:href="@{/css/bookiBois.css}" rel="stylesheet"/>
</head>

<body>

<div class="page">

    <header>
        <a href="../index.html" th:href="@{/public}">
            <img alt="logo" src="../public/images/cupcakelogo.png" th:src="@{/images/cupcakelogo.png}"/>
        </a>
    </header>

    <div class="topnav">
        <a th:if="${session.currentUser == null}" href="login.html" class="left" th:href="@{/login/}">Login</a>
        <a th:if="${session.currentUser != null}" href="index.html" class="left" th:href="@{/logout/}">Logout</a>
        <a th:if="${session.currentUser != null}" class="right" th:text="${session.currentUser.email}"></a>

        <form method="get">
            <button type="submit" class="basket" formaction="/ordermore">
                <img src="../public/images/arrow-left.png" th:src="@{/images/arrow-left.png}" alt="Shopping Bag" />
            </button>
        </form>
    </div>

    <form class="form-table" id="myForm" action="" method="post">
        <!-- Form to add balance to a customer's account -->

            <h3>Din Bestilling:</h3>
            <table>
                <thead>
                <tr>
                    <th class="table-left">Topping</th>
                    <th class="table-left">Bund</th>
                    <th class="table-left">Antal</th>
                    <th class="table-center">Pris</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${session.orders}" th:if="${session.currentUser.userId == order.userId}">
                    <td class="table-left" th:text="${order.topping}">topping</td>
                    <td class="table-left" th:text="${order.bottom}">bottom</td>
                    <td class="table-left" th:text="${order.quantity}">quantity</td>
                    <td class="table-right"><span th:text="${order.orderlinePrice}"></span> kr.</td>
                    <td>
                        <button type="submit" name="orderId" th:value="${order.orderId}" formaction="deleteorderline"
                                class="delete-button">Slet
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" class="table-left bold-text">Samlet pris</td>
                    <td class="table-right"><span th:text="${session.totalAmount}"></span> kr.</td>
                    <td></td>
                </tr>
                </tbody>
            </table>


        <div class="button-container-checkout">
            <input type="submit" value="Betal" formaction="/payorder">
        </div>

        <div id="hiddenDiv" class="modal" th:if="${notenoughtmoney}">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <p id="messageText" th:text="${message}"></p>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">

    document.addEventListener("DOMContentLoaded", function () {
        var notenoughtmoney = [[${notenoughtmoney}]];
        if (notenoughtmoney) {
            // Hvis der ikke er nok penge på kundens konto så vis det skjulte div-element
            var hiddenDiv = document.getElementById("hiddenDiv");
            hiddenDiv.style.display = "block";
            showMessage([[${message}]]);
        }
    });
</script>
<script>
    // Funktion for at vise meddelelsen
    function showMessage(message) {
        var modal = document.getElementById("hiddenDiv");
        var messageText = document.getElementById("messageText");
        messageText.textContent = message; // Sæt meddelelsesindholdet
        modal.style.display = "block"; // Vis modalen
    }

    // Funktion for at lukke modalen
    function closeModal() {
        var modal = document.getElementById("hiddenDiv");
        modal.style.display = "none"; // Skjul modalen
    }
</script>
</body>
</html>
